<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.qashi.sdkdemo">

    <application>
        <activity
            android:name=".ToastActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true" />
    </application>

</manifest>